<div class="d-container">
    <div class="header">
        <div class="nav-bar" id="logo">
            <img
                src="https://img.icons8.com/ios-glyphs/30/000000/pencil-tip.png"
            />
            <h1 id="logo-redirect">Trelljoe</h1>
        </div>
        <div class="username-display" id="d-username">${username}</div>
        <div class="nav-barlinks">
            <button class="mobile-nav">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="#455276"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                    />
                </svg>
            </button>
            <button class="nav-bar" id="d-createbtn"><h2>Create</h2></button>
            <button class="nav-bar" id="d-logoutbtn"><h2>Sign out</h2></button>
        </div>
    </div>

    <div class="d-module">
        <div class="d-module-contents">
            <div class="d-module-title"><h2>Let's name your project.</h2></div>
            <form id="d-form">
                <div class="form-field">
                    <input
                        type="text"
                        name="project-name"
                        class="d-inputs"
                        id="new-project"
                        placeholder="Project Name"
                    />
                    <small></small>
                </div>
                <input type="button" value="Submit" id="d-submitbtn" />
                <button class="d-close">Cancel</button>
            </form>
        </div>
    </div>

    <div class="de-module">
        <div class="de-module-contents">
            <div class="de-module-title"><h2>Rename your project</h2></div>
            <form id="d-form">
                <div class="form-field">
                    <input
                        type="text"
                        name="project-name"
                        class="de-inputs"
                        id="edit-project"
                        placeholder="Project Name"
                    />
                    <small></small>
                </div>
                <input type="button" value="Submit" id="de-submitbtn" />
                <button class="de-deleteboard">Delete Project</button>
                <button class="de-close">Cancel</button>
            </form>
        </div>
    </div>

    <div class="d-content">
        <div class="d-projects-title">
            <h1>Your Projects</h1>
        </div>
        <div id="d-projects"></div>
    </div>
</div>
<script src="../public/js/navbar.js" defer></script>
${script}
