<div class="d-container">
    <div class="header">
        <div class="nav-bar" id="logo">
            <img
                src="https://img.icons8.com/ios-glyphs/30/000000/pencil-tip.png"
            />
            <h1 id="logo-redirect">Trelljoe</h1>
        </div>
        <div class="username-display" id="d-username">${username}</div>
        <div class="nav-barlinks">
            <button id="d-logoutbtn"><h2>Sign out</h2></button>
            <button id="d-createbtn"><h2>Create</h2></button>
        </div>
    </div>

    <div class="d-module">
        <div class="d-module-contents">
            <div class="d-module-title"><h2>Let's name your project.</h2></div>
            <form id="d-form">
                <div class="form-field">
                    <input
                        type="text"
                        name="project-name"
                        class="d-inputs"
                        id="new-project"
                        placeholder="Project Name"
                    />
                    <small></small>
                </div>
                <input type="button" value="Submit" id="d-submitbtn" />
                <button class="d-close">Cancel</button>
            </form>
        </div>
    </div>

    <div class="de-module">
        <div class="de-module-contents">
            <div class="de-module-title"><h2>Rename your project</h2></div>
            <form id="d-form">
                <div class="form-field">
                    <input
                        type="text"
                        name="project-name"
                        class="de-inputs"
                        id="edit-project"
                        placeholder="Project Name"
                    />
                    <small></small>
                </div>
                <input type="button" value="Submit" id="de-submitbtn" />
                <button class="de-deleteboard">Delete Project</button>
                <button class="de-close">Cancel</button>
            </form>
        </div>
    </div>

    <div class="d-content">
        <div class="d-projects-title">
            <h1>Your Projects</h1>
        </div>
        <div id="d-projects"></div>
    </div>
</div>
${script}
