<div class="h-container">
    <div class="header">
        <div class="hamburger-btn">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark hidden"></i>
        </div>
        <div class="nav-bar" id="logo">
            <i class="fa-solid fa-square-pen"></i>
            <h1>Trelljoe</h1>
        </div>
        <div class="d-nav">
            <a href="/login" class="mobile-nav-link"
                ><div class="mobile-nav-link-label">Login</div></a
            >
        </div>
    </div>
    <div class="mobile-nav">
        <a href="/signup" class="mobile-nav-link">
            <div class="mobile-nav-link-label">Sign Up</div></a
        >
        <a href="/login" class="mobile-nav-link"
            ><div class="mobile-nav-link-label">Login</div></a
        >
        <div class="mobile-nav-link mobile-nav-link-guest">
            <div class="mobile-nav-link-label">Login as Guest</div>
        </div>
    </div>
    <div class="h-content">
        <div id="h-main-content">
            <img src="../public/svg/team_up.svg" />
        </div>
        <div class="content-text-home">
            <h1>Trelljoe helps elevate your team's workflow</h1>
            <h2>
                Work together to manage and complete your projects - anywhere,
                anytime
            </h2>
            <button id="h-signupbtn">Create Account</button>
            <button id="h-guestbtn">Try it as a Guest</button>
        </div>
    </div>
</div>
${script}
<script defer src="../public/js/navbar.js"></script>
