<div class="container-home">
    <div class="header">
        <div class="nav-bar" id="logo">
            <img
                src="https://img.icons8.com/ios-glyphs/30/000000/pencil-tip.png"
            />
            <h1>Trelljoe</h1>
        </div>
        <button class="nav-bar" id="dashboardbtn">Go to your boards</button>
        <button class="nav-bar" id="loginbtn">Login</button>
    </div>
    <div class="content-home">
        <div id="main-content-home">
            <img
                src="https://img.icons8.com/external-itim2101-flat-itim2101/240/000000/external-teamwork-company-itim2101-flat-itim2101-2.png"
            />
        </div>
        <div class="content-text-home">
            <h1>Trelljoe helps elevate your team's workflow</h1>
            <h2>
                Work together to manage and complete your projects - anywhere,
                anytime
            </h2>
            <button id="signupbtn">Create Account</button>
        </div>
    </div>
</div>
${script}
