<div class="h-container">
    <div class="header">
        <div class="nav-bar" id="logo">
            <img
                src="https://img.icons8.com/ios-glyphs/30/000000/pencil-tip.png"
            />
            <h1>Trelljoe</h1>
        </div>

        <button class="nav-bar" id="h-loginbtn"><h3>Login</h3></button>
    </div>
    <div class="h-content">
        <div id="h-main-content">
            <img src="../public/svg/team_up.svg" />
        </div>
        <div class="content-text-home">
            <h1>Trelljoe helps elevate your team's workflow</h1>
            <h2>
                Work together to manage and complete your projects - anywhere,
                anytime
            </h2>
            <button id="h-signupbtn">Create Account</button>
            <button id="h-guestbtn">Try it as a Guest</button>
        </div>
    </div>
</div>
${script}
