<div class="container-login">
    <div class="content-login">
        <h1>Login Page</h1>
        <form id="form-login">
            <div class="formfield">
                <input
                    type="text"
                    name="email"
                    id="email-input"
                    placeholder="E-mail address"
                    value="lizardqueen@yahoo.com"
                />
                <small></small>
            </div>
            <div class="formfield">
                <input
                    type="text"
                    name="password"
                    id="password-input"
                    placeholder="Password (8-50 characters) "
                    value="benjilove"
                />
                <small></small>
            </div>
            <input type="button" value="Submit" id="submit-button" />
        </form>
    </div>
</div>
${script}
