<div class="container-login">
    <div class="content-login">
        <h1>Login Page</h1>
        <form>
            <input
                type="text"
                name="email"
                id="email-input"
                placeholder="E-mail address"
            />
            <input
                type="text"
                name="password"
                id="password-input"
                placeholder="Password (8-50 characters) "
            />
            <input type="button" value="Submit" id="submit-button" />
        </form>
    </div>
</div>
${title}
