<div class="l-container">
    <div class="l-module-container">
        <div class="l-hero">
            <div class="header" id="l-header">
                <i class="fa-solid fa-square-pen"></i>
                <h1 id="logo-redirect">TrellJoe</h1>
            </div>
            <img
                src="../public/svg/login.svg"
                alt="a person opening a door"
                id="l-heroimage"
            />
            <div class="l-herotext">Hello Again!</div>
        </div>
        <div class="l-content">
            <h2>Let's sign you in.</h2>
            <form id="l-form">
                <div class="form-field">
                    <input
                        type="text"
                        class="l-inputs"
                        placeholder="E-mail address"
                        value="dadjokes4days@yahoo.com"
                    />
                    <small></small>
                </div>
                <div class="form-field">
                    <input
                        type="password"
                        name="password"
                        class="l-inputs"
                        placeholder="Password (8-50 characters) "
                        value="ilovevarcharmander"
                    />
                    <small id="login-error"></small>
                </div>
                <input type="button" value="Submit" id="l-submitbtn" />
            </form>
            <a href="/signup">Don't have an account? Click here</a>
        </div>
    </div>
</div>
${script}
