<div class="p-container">
    <div class="header">
        <div class="nav-bar" id="logo">
            <img
                src="https://img.icons8.com/ios-glyphs/30/000000/pencil-tip.png"
            />
            <h1 id="logo-redirect">Trelljoe</h1>
        </div>
        <div class="p-projectname"></div>
        <div class="username-display" id="p-username">${username}</div>
        <div class="nav-barlinks">
            <button class="p-dashboardbtn"><h2>Dashboard</h2></button>
            <button id="p-logoutbtn"><h2>Sign out</h2></button>
        </div>
    </div>

    <div class="p-module">
        <div class="p-module-contents">
            <div class="p-module-title">Let's make a new task.</div>
            <form id="p-form">
                <div class="form-field">
                    <input
                        type="text"
                        name="project-name"
                        class="p-inputs"
                        id="new-card"
                        placeholder="Task Name"
                    />
                    <small></small>
                </div>
                <input type="button" value="Submit" id="p-submitbtn" />
                <button class="p-close">Cancel</button>
            </form>
        </div>
    </div>

    <div class="pe-module">
        <div class="pe-module-contents">
            <div class="pe-module-title">Edit your task</div>
            <form id="p-form">
                <div class="form-field">
                    <input
                        type="text"
                        name="task"
                        class="pe-inputs"
                        id="edit-card"
                        placeholder="Task"
                    />
                    <small></small>
                </div>
                <input type="button" value="Submit" id="pe-submitbtn" />
                <button class="pe-movebtn">Move</button>
                <select name="move-selector" id="pe-moveoptions">
                    <option value="todo">To-Do</option>
                    <option value="inprogress">Doing</option>
                    <option value="review">Review</option>
                    <option value="complete">Complete</option>
                </select>
                <button class="pe-deletebtn">Delete Card</button>
                <button class="pe-close">Cancel</button>
            </form>
        </div>
    </div>

    <div class="p-content">
        <div class="p-list-container" id="todo">
            <div class="p-list-title"><h2>To Do</h2></div>
            <div id="p-todo-list"></div>
            <button class="p-createbtn">
                <img
                    src="https://img.icons8.com/ios/50/000000/add--v1.png"
                    alt="Add a card button"
                    class="p-createbtnimg"
                    name="todo"
                />
            </button>
        </div>
        <div class="p-list-container" id="inprogress">
            <div class="p-list-title"><h2>Doing</h2></div>
            <div id="p-inprogress-list"></div>
            <button class="p-createbtn">
                <img
                    src="https://img.icons8.com/ios/50/000000/add--v1.png"
                    alt="Add a card button"
                    class="p-createbtnimg"
                    name="inprogress"
                />
            </button>
        </div>
        <div class="p-list-container" id="review">
            <div class="p-list-title"><h2>Review</h2></div>
            <div id="p-review-list"></div>
            <button class="p-createbtn">
                <img
                    src="https://img.icons8.com/ios/50/000000/add--v1.png"
                    alt="Add a card button"
                    class="p-createbtnimg"
                    name="review"
                />
            </button>
        </div>
        <div class="p-list-container" id="complete">
            <div class="p-list-title"><h2>Complete</h2></div>
            <div id="p-complete-list"></div>
            <button class="p-createbtn">
                <img
                    src="https://img.icons8.com/ios/50/000000/add--v1.png"
                    alt="Add a card button"
                    class="p-createbtnimg"
                    name="complete"
                />
            </button>
        </div>
    </div>
</div>
${script}
