<div class="container-registration">
    <div class="header-registration">
        <h1>Trell-Joe</h1>
    </div>
    <div class="content-registration">
        <h2>Create your account</h1>
        <form id="form-registration">
            <div class="form-field">
                <input
                    type="text"
                    name="username"
                    id="username-input"
                    placeholder="Username"
                    value="Joe"
                />
                <small></small>
            </div>
            <div class="form-field">
                <input
                    type="text"
                    name="email"
                    id="email-input"
                    placeholder="E-mail address"
                    value="apbulogi@gmail.com"
                />
                <small></small>
            </div>
            <div class="form-field">
                <input
                    type="text"
                    name="password"
                    id="password-input"
                    placeholder="Password (8-50 characters) "
                    value="Abcde123#"
                />
                <small></small>
            </div>
            <div class="form-field">
                <input
                    type="text"
                    name="password-confirmation"
                    id="password-confirm"
                    placeholder="Confirm password"
                    value="Abcde123#"
                />
                <small></small>
            </div>
            <input type="button" value="Submit" id="submit-button" />
        </form>
        <a href="'http://127.0.0.1:5500/controller/public/views/login.html'">Already have an account? Log in</a>
    </div>
</div>

