<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/css/style.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="container-home">
            <div class="header">
                <div class="nav-bar" id="logo">
                    <h1>Trelljoe</h1>
                </div>
                <button class="nav-bar" id="dashboardbtn">
                    Go to your boards
                </button>
                <button class="nav-bar" id="loginbtn">Login</button>
            </div>
            <div class="content-home">
                <div id="main-content-home">
                    <img src="./images/undraw_team_up_re_84ok.svg" /><img />
                </div>
                g
                <div class="content-text-home">
                    <h1>Trelljoe helps elevate your team's workflow</h1>
                    <h2>
                        Work together to manage and complete your projects -
                        anywhere, anytime
                    </h2>
                    <button id="signupbtn">Create Account</button>
                </div>
            </div>
        </div>
    </body>
</html>
