@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --neon-blue: #5768f1;
    --white: #fafcfd;
    --dark-blue: #455276;
    --red: #eb557a;
    --light-blue: #eff4fe;
    --green: #1da4a3;
    --lavender: #e6e9fe;
}

:root {
    --heroheight: 275px;
    --modulewidth: 793px;
    --formwidth: 400px;
    --moduleheight: 530px;
    --cardheight: 200px;
    --cardwidth: 300px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-blue);
}

* {
    box-sizing: border-box;
}

button {
    padding: 0.5rem;
    border-radius: 2px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: var(--lavender);
}

a,
button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #455276;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1,
h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    margin: 0;
}

input {
    font-family: 'Open Sans', sans-serif;
}

.formfield,
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    color: var(--red);
}

.h-container {
    height: 100vh;
    width: 100vw;
    background: rgb(250, 252, 253);
    background: linear-gradient(
        rgba(87, 104, 241, 0.7) 10%,
        rgba(250, 252, 253, 1) 70%
    );
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-content,
.h-content {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

#h-signupbtn {
    width: 90%;
    max-width: 350px;
    height: 60px;
    background: var(--neon-blue);
    font-size: 16px;
    font-weight: bolder;
}

#d-createbtn,
#h-loginbtn {
    background: var(--dark-blue);
    width: 200px;
    height: 100%;
    display: block;
}

#h-dashboardbtn {
    background: var(--dark-blue);
    width: 200px;
    height: 100%;
    display: none;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-left: 0.5rem;
}

.l-container,
.su-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: var(--white);
}

.l-module-container,
.su-module-container {
    width: 100%;
    height: 100%;
}

.l-hero,
.su-hero {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-herotext,
.su-herotext {
    display: none;
}

#l-heroimage,
#su-heroimage {
    object-fit: contain;
    height: 200px;
    width: auto;
}

.l-content,
.su-content {
    width: 100%;
    height: calc(100vh - var(--heroheight));
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--lavender);
}

.d-inputs,
.l-inputs,
.su-inputs {
    margin: 1rem;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    padding: 1rem;
}

.d-inputs:focus,
.l-inputs:focus,
.su-inputs:focus {
    border-color: var(--dark-blue);
}

.d-inputs:focus::placeholder,
.l-inputs:focus::placeholder,
.su-inputs:focus::placeholder {
    color: transparent;
}

#l-header,
#su-header {
    background: transparent;
}

#d-submitbtn,
#l-submitbtn,
#su-submitbtn {
    width: 200px;
    height: 40px;
    background: var(--dark-blue);
    border: none;
    border-radius: 2px;
    color: var(--white);
    margin: 1rem;
}

#l-submitbtn,
#su-submitbtn:hover {
    cursor: pointer;
}

.d-container {
    height: 100vh;
    width: 100vw;
    background: var(--light-blue);
    display: grid;
    grid-template-rows: auto 1fr;
}

.d-projects {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.d-project-card {
    border-radius: 5px;
    height: var(--cardheight);
    width: var(--cardwidth);
    background: var(--white);
    padding: 1rem;
    text-align: left;
}

.d-module {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    margin: 0 auto 10px;
    height: 100%;
    overflow: auto;
    font-size: 18px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
}

.d-module-contents {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    padding: 20px;
    background-color: var(--white);
    margin: 0;
}

.d-module-title {
    text-align: center;
}

@media (min-width: 600px) {
    .h-content {
        flex-direction: row-reverse;
        text-align: justify;
        justify-content: center;
    }

    .l-content,
    .su-content {
        height: var(--moduleheight);
        width: var(--formwidth);
        align-self: start;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .l-module-container,
    .su-module-container {
        height: fit-content;
        width: fit-content;
        box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .l-hero,
    .su-hero {
        width: calc(var(--modulewidth) - var(--formwidth));
        height: var(--moduleheight);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .l-herotext,
    .su-herotext {
        display: block;
        margin: 1rem;
    }
    .l-container,
    .su-container {
        background-color: var(--light-blue);
    }

    .d-projects {
        height: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }
}

@media screen and (max-width: 599px) {
    * {
        max-width: 100vw;
    }
}
