@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --neon-blue: #5768f1;
    --white: #fafcfd;
    --dark-blue: #455276;
    --red: #eb557a;
    --light-blue: #eff4fe;
    --lavender: #e6e9fe;
    --periwinkle: #7b89f4;
    --transparent: rbga(255, 255, 255, 0.2);
}

:root {
    --heroheight: 275px;
    --modulewidth: 793px;
    --formwidth: 400px;
    --moduleheight: 530px;
    --projectheight: 200px;
    --projectwidth: 300px;
    --cardheight: 100px;
    --cardwidth: 300px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-blue);
}

* {
    box-sizing: border-box;
}

button {
    padding: 0.5rem;
    border-radius: 2px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: var(--lavender);
}

a,
button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #455276;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1,
h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    margin: 0;
}

input {
    font-family: 'Open Sans', sans-serif;
}

.formfield,
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    color: var(--red);
}

.h-container {
    height: 100vh;
    width: 100vw;
    background: rgb(250, 252, 253);
    background: linear-gradient(
        rgba(87, 104, 241, 0.7) 10%,
        rgba(250, 252, 253, 1) 70%
    );
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    background-color: var(--transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-barlinks {
    display: flex;
    gap: 1rem;
}

.d-content,
.h-content {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

#h-signupbtn {
    width: 90%;
    max-width: 350px;
    height: 60px;
    background: var(--neon-blue);
    font-size: 16px;
    font-weight: bolder;
}

#p-logoutbtn,
#d-logoutbtn,
#d-createbtn,
#h-loginbtn {
    background: var(--dark-blue);
    width: 200px;
    height: 100%;
    min-height: inherit;
    display: block;
    border-radius: 0;
}

#h-dashboardbtn {
    background: var(--dark-blue);
    width: 200px;
    height: 100%;
    display: none;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-left: 0.5rem;
}

.l-container,
.su-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: var(--white);
}

.l-module-container,
.su-module-container {
    width: 100%;
    height: 100%;
}

.l-hero,
.su-hero {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-herotext,
.su-herotext {
    display: none;
}

#l-heroimage,
#su-heroimage {
    object-fit: contain;
    height: 200px;
    width: auto;
}

.l-content,
.su-content {
    width: 100%;
    height: calc(100vh - var(--heroheight));
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--lavender);
}

.p-inputs,
.pe-inputs,
.de-inputs,
.d-inputs,
.l-inputs,
.su-inputs {
    margin: 1rem;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    padding: 1rem;
}
.p-inputs:focus,
.pe-inputs:focus,
.de-inputs:focus,
.d-inputs:focus,
.l-inputs:focus,
.su-inputs:focus {
    border-color: var(--dark-blue);
}

.p-inputs:focus::placeholder,
.pe-inputs:focus::placeholder,
.d-inputs:focus::placeholder,
.de-inputs:focus::placeholder,
.l-inputs:focus::placeholder,
.su-inputs:focus::placeholder {
    color: transparent;
}

#l-header,
#su-header {
    background: transparent;
}

.pe-movebtn,
#p-submitbtn,
#pe-submitbtn,
#d-submitbtn,
#de-submitbtn,
#l-submitbtn,
#su-submitbtn {
    width: 200px;
    height: 40px;
    background: var(--dark-blue);
    border: none;
    border-radius: 2px;
    color: var(--white);
    margin: 1rem;
}

#p-submitbtn:hover,
#pe-submitbtn:hover,
#d-submitbtn:hover,
#de-submitbtn:hover,
#l-submitbtn:hover,
#su-submitbtn:hover {
    cursor: pointer;
}

.p-container,
.d-container {
    height: 100vh;
    width: 100vw;
    background: var(--light-blue);
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: auto;
}

#d-projects {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-project-card {
    border-radius: 5px;
    height: var(--projectheight);
    width: var(--projectwidth);
    background: var(--neon-blue);
    padding: 1rem;
    line-height: 1rem;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
    font-size: 18px;
    color: var(--white);
    text-align: left;
    margin: 1rem;
    position: relative;
    transition: transform 0.25s;
}

.d-project-card:hover {
    cursor: pointer;
}

.p-module,
.pe-module,
.de-module,
.d-module {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: auto;
    font-size: 18px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
}

.p-module-contents,
.pe-module-contents,
.de-module-contents,
.d-module-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 90vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--white);
    margin-right: 0px;
}

.p-module-title,
.pe-module-title,
.de-module-title,
.d-module-title {
    text-align: center;
}

.pe-close,
.de-close,
.d-close {
    background-color: var(--lavender);
    color: var(--dark-blue);
    width: 150px;
}

.p-editbtn,
.d-editbtn {
    background: transparent;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
}

.p-card:hover .p-editbtn,
.d-project-card:hover .d-editbtn {
    display: block;
}

.p-card:hover,
.d-project-card:hover {
    transform: translateY(-5px);
}

.pe-deletebtn,
.de-deleteboard {
    background: var(--red);
    margin-bottom: 1rem;
    width: 150px;
}

.p-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--periwinkle);
}

.p-list-container {
    flex: 1 1 calc(var(--cardwidth) + 1rem);
    flex: 0 1 calc(var(--cardwidth) + 1rem);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    background: var(--lavender);
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}

.p-list-title {
    color: var(--dark-blue);
}

.p-card {
    height: fit-content;
    min-height: var(--cardheight);
    width: var(--cardwidth);
    background: var(--white);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#pe-moveoptions {
    display: none;
}

@media (min-width: 600px) {
    .h-content {
        flex-direction: row-reverse;
        text-align: justify;
        justify-content: center;
    }

    .l-content,
    .su-content {
        height: var(--moduleheight);
        width: var(--formwidth);
        align-self: start;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .l-module-container,
    .su-module-container {
        height: fit-content;
        width: fit-content;
        box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .l-hero,
    .su-hero {
        width: calc(var(--modulewidth) - var(--formwidth));
        height: var(--moduleheight);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .l-herotext,
    .su-herotext {
        display: block;
        margin: 1rem;
    }
    .l-container,
    .su-container {
        background-color: var(--light-blue);
    }

    #d-projects {
        height: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 599px) {
    * {
        max-width: 100vw;
    }
}
