<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/style.css" />
        <title>Home Page</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="nav-bar" id="header">Trell-Joe</div>
                <button class="nav-bar" id="see-dashboard">
                    Go to your boards
                </button>
                <button class="nav-bar" id="login-button">Login</button>
            </div>
            <div class="content">
                <div id="main-content">
                    <img
                        src="https://img.icons8.com/external-itim2101-flat-itim2101/240/000000/external-teamwork-company-itim2101-flat-itim2101-2.png"
                    />
                </div>
                <button class="nav-bar" id="sign-up-button">
                    Create Account
                </button>
            </div>
        </div>
    </body>
</html>
