<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link defer rel="stylesheet" href="../css/style.css" />
        <script defer src="../js/registration.js"></script>
        <title>Registration</title>
    </head>
    <body>
        <div class="container-registration">
            <div class="content-registration">
                <h1>Registration Page</h1>
                <form id="form-registration">
                    <div class="form-field">
                        <input
                            type="text"
                            name="username"
                            id="username-input"
                            placeholder="Username"
                        />
                        <small></small>
                    </div>
                    <div class="form-field">
                        <input
                            type="text"
                            name="email"
                            id="email-input"
                            placeholder="E-mail address"
                        />
                        <small></small>
                    </div>
                    <div class="form-field">
                        <input
                            type="text"
                            name="password"
                            id="password-input"
                            placeholder="Password (8-50 characters) "
                        />
                        <small></small>
                    </div>
                    <div class="form-field">
                        <input
                            type="text"
                            name="password-confirmation"
                            id="password-confirm"
                            placeholder="Confirm password"
                        />
                        <small></small>
                    </div>
                    <input type="button" value="Submit" id="submit-button" />
                </form>
            </div>
        </div>
    </body>
</html>
